.list-container {
    list-style-type: none;
}

.item-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.img-card {
    height: 120px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid greenyellow;
}

.event-heading {
    font-size: 15px;
    color: rgb(204, 255, 0);
}

.event-paragraph {
    font-size: 10px;
    color: rgb(255, 0, 195);
}